html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.bg-navbar {
    background-color: #2E4F4F;
}

.text-navbar {
    color: #0E8388;
}

.landing {
    background-image: url('../img/olha-maliar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* Altri stili per l'elemento di sfondo, ad esempio altezza e larghezza */
}


.card_border {
    border: 1px solid #FFC26F;
    background-color: #F9E0BB;
}

.card_text {
    text-decoration-color: #FFC26F;
}