html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.bg-navbar{
    background-color: #125B50
}

.landing {
    background-image: url('../img/olha-maliar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* Altri stili per l'elemento di sfondo, ad esempio altezza e larghezza */
}


.card_border {
    border: 1px solid #CBE4DE;
    background-color: #0E8388;
}

.card_text {
    text-decoration-color: #CBE4DE;
}