
<footer>
    <div class="text-center p-4 bg-dark" style="color: #C38154;">
        <h5 style="color: #C38154;">© 2023 Copyright: Generation G1</h5>
        <p>MON - FRI  8:00 - 17:00</p>
    </div>
</footer>