@using Museo_MVC.Models.ModelForViews
@model SouvenirListOrders

<div class="container" style="color: #C38154;">
	<form asp-controller="Home" asp-action="ConfirmPurchase" method="post">
		<div class="row">
			<div class="col">

				@Html.AntiForgeryToken()
				<div class="mb-3">
					<label asp-for="@Model.Orders.Name" class="form-label">Email</label>
					<input asp-for="@Model.Orders.Name" type="text" class="form-control" placeholder="Email..." required>
					<span asp-validation-for="@Model.Orders.Name" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Acquistis.Email" class="form-label">Email</label>
					<input asp-for="Acquistis.Email" type="text" class="form-control" placeholder="Descrizione..." required>
					<span asp-validation-for="Acquistis.Email" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Acquistis.Cap" class="form-label">Cap</label>
					<input asp-for="Acquistis.Cap" type="text" class="form-control" placeholder="CAP..." required>
					<span asp-validation-for="Acquistis.Cap" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Acquistis.Quantity" class="form-label">Quantità</label>
					<input asp-for="Acquistis.Quantity" type="text" class="form-control" placeholder="1, 2, 3, ..." required>
					<span asp-validation-for="Acquistis.Quantity" class="text-danger"></span>
				</div>
				<div class="mb-3">

				</div>

			</div>
		</div>
		<div class="row">
			<div class="col">
				<button type="submit" class="btn btn-dark">Acquista</button>
			</div>
		</div>
	</form>
</div>