@using Museo_MVC.Models.ModelForViews
@model SouvenirListOrders

<div class="container" style="color: #C38154;">
	<form asp-controller="Home" asp-action="ConfirmOrder"  method="post">
		<div class="row">
			<div class="col">

				@Html.AntiForgeryToken()
				<div class="mb-3">
					<label asp-for="@Model.Orders.Name" class="form-label">Email</label>
					<input asp-for="@Model.Orders.Name" type="text" class="form-control" placeholder="Email..." required>
					<span asp-validation-for="@Model.Orders.Name" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Orders.Quantity" class="form-label">Quantità</label>
					<input asp-for="Orders.Quantity" type="text" class="form-control" placeholder="1, 2, 3, ..." required>
					<span asp-validation-for="Souvenirs.Quantity" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Orders.Fornitore" class="form-label">Nome Fornitore</label>
					<input asp-for="Orders.Fornitore" type="text" class="form-control" placeholder="Fornitore..." required>
					<span asp-validation-for="Orders.Fornitore" class="text-danger"></span>
				</div>
				
				<div class="mb-3">
					<label asp-for="Orders.Price" class="form-label">Prezzo</label>
					<input asp-for="Orders.Price" type="text" class="form-control" placeholder="Prezzo..." readonly>
					<span asp-validation-for="Orders.Price" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button type="submit" class="btn btn-dark">Conferma Ordine</button>
			</div>
		</div>
	</form>
</div>