<div class="card p-5 mt-5  text-center">
    <div class="card-header ">
        Contatti
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Adress: Via Pallino 15/B</p>
            <p>Email: example123@gmail.com</p>
            <p>Number: 333 333 3333</p>
            <footer class="blockquote-footer">Grazie per aver visitato <cite title="Source Title">il nostro Museo</cite></footer>
        </blockquote>
    </div>
</div>