@model Souvenir

<style>
	body {
		background-image: url('../img/olha-maliar.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		/* Altri stili per l'elemento di sfondo, ad esempio altezza e larghezza */
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}
</style>

<!-- <section class="landing"> -->
	<div class="container align-items-center align-self-center py-5">
		<div class="row  text-center py-5">
			<h1 style="color: #FFC26F">Local Stuff Museum</h1>
		</div>


		
		<div class="row">
			<div class="col-8">
				<div class="card text-center">
					<div class="card-body  " style="background-color: rgba(255, 194, 111, 0.5);">
						<p style="color: #884A39;">
								Benvenuti Museo di arte contemporanea, un luogo dove l'arte prende vita e si mescola con le emozioni e le esperienze dei visitatori. Situato nel cuore della città, il mio museo è un'istituzione dinamica e all'avanguardia, che celebra l'arte moderna e le sue molteplici forme di espressione.

								Appena entrate, sarete accolte da un'atmosfera vibrante e un'architettura unica, pensata per creare una connessione intima tra gli spettatori e le opere d'arte esposte. Le nostre sale espositive sono ampie e luminose, fornendo uno spazio ideale per esplorare le creazioni degli artisti contemporanei più talentuosi.

								Il mio museo è noto per la sua curatela eclettica e audace, che presenta una vasta gamma di stili, tecniche e concetti artistici. Potrete ammirare dipinti, sculture, installazioni interattive, opere video e molto altro ancora, tutto rigorosamente selezionato per suscitare emozioni, stimolare la riflessione e offrire una prospettiva nuova sul mondo che ci circonda.<br /> La ricerca costante della qualità è la caratteristica principale della Pizzeria.
						</p>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="120" height="120">
							<path d="M0 0h24v24H0z" fill="none" />
							<path d="M10 12L3.6 8.7 5 2l5.2 1.5L15 2l1.2 5.5L22 12H10zm1.5-1.86l2.14.61-.61-2.14 1.55-1.51-2.13-.62L12 4l-.65 2.12-2.13.62 1.54 1.51-.61 2.14 2.14-.61L12 11.37zM12 14l-1.43 1.43.43 2.14-1.39 1.02-2.14-.43L6 22h12l-.43-2.14-2.14.43-1.39-1.02.43-2.14L12 14zm0 2.8L13.6 17l-1.1-.26L12 15.4l-1.5 1.34-.1.26 1.1.26L12 18l.5-1.14 1.1-.26-.1-.26-1.5-1.34zM8.2 17l1.39 1.02-.43-2.14 1.34-1.5-1.34-1.5.43-2.14L8.2 11l-1.39 1.02L6 14.2l-1.5 1.34 1.5 1.34.43 2.14L8.2 17zm7.6 0l1.39 1.02-.43-2.14 1.34-1.5-1.34-1.5.43-2.14L15.8 11l-1.39 1.02-.43 2.14-1.34 1.5 1.34 1.5.43 2.14L16.8 17z" />
						</svg>
					</div>	
				</div>
			</div>
		@if(Model != null)
		{
			<div class="col-4">
				<div class="card card_border">
                <img src="@Model.Img" class="card-img-top">
					<div class="card-body rounded" style="background-color: #F9E0BB;">
						<h2>@Model.Name</h2>
						<h5>@Model.Quantity Acquisti</h5>
					</div>
				</div>
			</div>
		}
		</div>
	</div>
<!-- </section> -->