@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background-image: url('../img/privacyBg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        /* Altri stili per l'elemento di sfondo, ad esempio altezza e larghezza */
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
</style>



<!--<section class="Contacts_bg">-->
<div class="container color justify-content-center align-content-center align-items-center align-self-center p-5 mt-5">

    <div class="row h-100">

        <div class="col h-100">

            <div class="card color card_border p-5 mt-5">
                <div class="card-header">
                    <h2>Privacy</h2>
                </div>
                <div class="card-body">
                    <h2>Informativa sulla privacy</h2>
                    <p>Benvenuto nella nostra pagina dedicata alla privacy. In questa sezione, ti forniamo informazioni dettagliate su come raccogliamo, utilizziamo e proteggiamo i tuoi dati personali quando visiti il nostro sito web.</p>

                    <h2>Raccolta delle informazioni</h2>
                    <p>Durante la tua visita al nostro sito, potremmo raccogliere alcune informazioni personali come il tuo nome, indirizzo email e dati di contatto. Queste informazioni vengono raccolte solo quando fornite volontariamente attraverso i moduli presenti sul nostro sito.</p>

                    <h2>Uso delle informazioni</h2>
                    <p>Le informazioni personali che raccogliamo vengono utilizzate esclusivamente per rispondere alle tue richieste, fornire i servizi richiesti e migliorare l'esperienza complessiva degli utenti. Non condivideremo le tue informazioni personali con terze parti senza il tuo consenso, a meno che ciò non sia richiesto dalla legge.</p>

                    <h2>Protezione dei dati</h2>
                    <p>Prendiamo sul serio la sicurezza dei tuoi dati personali e adottiamo misure adeguate per proteggerli da accessi non autorizzati, perdite o utilizzi impropri. Utilizziamo protocolli di sicurezza avanzati per garantire la protezione dei dati sensibili forniti tramite il nostro sito web.</p>
                    
                    <h2>Cookie</h2>
                    <p>Utilizziamo i cookie per migliorare la tua esperienza di navigazione sul nostro sito. I cookie sono piccoli file di testo che vengono salvati sul tuo dispositivo quando visiti il nostro sito web. Questi cookie ci aiutano a riconoscerti al tuo prossimo accesso e a personalizzare il contenuto in base alle tue preferenze.</p>
                    
                    <h2>Modifiche alla politica sulla privacy</h2>
                    <p>Ci riserviamo il diritto di apportare modifiche a questa politica sulla privacy in qualsiasi momento. Eventuali modifiche saranno pubblicate su questa pagina e avranno effetto immediato. Ti invitiamo a controllare periodicamente questa pagina per essere informato sulle eventuali modifiche.</p>
                    
                    <h2>Contattaci</h2>
                    <p>Se hai domande o dubbi sulla nostra politica sulla privacy, non esitare a contattarci. Troverai le informazioni di contatto nella sezione dedicata ai contatti del nostro sito.</p>
                    
                    

                    
                    

                    
                    
                </div>
            </div>

        </div>

    </div>
</div>
<!-- </section> -->